/* Reset defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fullscreen video background */
.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    z-index: -1;
}

/* Start button centered horizontally, fixed from bottom */
#button {
    height: 30px;
    width: auto;
    position: fixed;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer; 
    display: none; /* initially hidden */
    animation: blink 2s infinite;
}

/* Blink animation */
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/* Tablet */
/* @media (max-width: 1635px){
  #button {
        bottom: 70px;
        height: 22px;
    }
}  */
@media (max-width: 768px) {
    .intro {
        object-fit: cover;
    }

    #button {
        bottom: 160px;
        height: 25px;
    }
}

/* Mobile */
@media (max-width: 480px) {
  .intro{
    object-fit: cover;
  }
    #button {
        bottom: 150px;
        height: 22px;
    }
}








